
.items {
  display: flex;
  background-color: white;
  border-radius: 5px;
}

.item, .item-selected {
  display: flex;
  justify-content: center;
  width: 5rem;
  align-items: center;
  color:black;
  font-weight: 500;
}

.item-selected{
  color:rgb(0, 13, 255); 
  font-weight: 600;
  font-size: 3.5rem;

}

.itemSelector {
  color: white;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
}